# Ignore raw data and database dumps
data-warehouse-init/*.sql
raw-data/
*.csv
*.json

# Ignore environment variables
.env

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# OS files
.DS_Store

# Python virtual environment
.venv/
__pycache__/